.container{
    display: flex;
}
.prodList{
    width:80%;
    display: flex;
    flex-wrap: wrap;
}
.filter{
    width:10%;
    height: 100vh;
    background-Color:black;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    outline: none;
}
.buttons{
    height:50px;
    width: 60px;
    margin: 30px;
    background-color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}